[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]

[packages]
djangorestframework = "*"
djoser = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djangorestframework-simplejwt = "*"
dateutils = "*"
django-cors-headers = "*"
mysqlclient = "*"
celery = "*"
django-celery-results = "*"
django-filter = "*"
redis = "*"
kafka-python = "*"
elasticsearch = "*"
ansible = "*"
elasticsearch-dsl = "*"
bs4 = "*"
matplotlib = "*"
python-ldap = "*"

[requires]
python_version = "3.8"
