<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>邮件：</h1>
    <p style="background-color: green">{{ send_time }}</p>
    <p><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fa4.att.hudong.com%2F27%2F67%2F01300000921826141299672233506.jpg&refer=http%3A%2F%2Fa4.att.hudong.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1612785077&t=cec27b683c8bf4928801fe0ba2cbffd8" alt="dog"></p>
    <p><img src="cid:pic"></p>
    <p><img src="cid:pic1"></p>
    <p><img src="cid:pic2"></p>
</body>
</html>